@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  /* overflow-y: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  background-color: #f0f2de;
  background-image: url("bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Dark Mode */
.dark-mode {
  background-color: #1f1f1f; 
}

.dark-mode::before {
  content: ''; 
  position: absolute;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  background-image: url("bg.svg"); 
  background-size: cover; 
  filter: invert(1);
  z-index: -1;
}
