.home-wrapper {
    margin: 20px;
    /* padding: 20px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #364051;
}

.heading-text {
    color: hsl(0, 0%, 0%);
    text-align: center;
}

.heading-text h1 {
    text-wrap: wrap;
    font-size: 50px;
}

.input-wrapper {
    width: 100%;
    /* min-height: 300px; */
    background-color: aliceblue;
    border-radius: 20px;
    padding: 20px;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input,
.short-url {
    width: calc(100% - 20px);
    height: 50px;
    border: none;
    border-radius: 10px;
    padding-left: 20px;
}

.submit-btn {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #f0f2de;
    font-size: 20px;
    font-weight: 700;
}

.submit-btn:hover {
    border: 2px solid black;
    cursor: pointer;
}

.copy-btn {
    border: none;
    background-color: transparent;
    width: 40px;
}

.copy-btn img {
    height: 30px;
    padding-right: 10px;
    cursor: pointer;
}

.short-url {
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.after-submit {
    width: 100%;
}



.toggle-button {
    position: fixed; 
    top: 0;         
    left: 0;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: #f0f2de;
    font-size: 20px;
    font-weight: 700;
    border:none;
  }
  
  .toggle-button:hover {
    border: 2px solid black;
    cursor: pointer;
  }


#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}


.dark-mode .home-wrapper {
    color: #f0f0f0;
}

.dark-mode .heading-text h1 {
    color: #e0e0e0;
}

.dark-mode .heading-text h3 {
    color: #e0e0e0;
}

.dark-mode .input-wrapper {
    background-color: #222; 
}

.dark-mode .input,
.dark-mode .short-url {
    background-color: #333; 
    color: #e0e0e0;
}

.dark-mode .submit-btn {
    background-color: #434343; 
    color: white;
}

.dark-mode .submit-btn:hover {
    border: 2px solid #fff;
}

.dark-mode .copy-btn img {
    filter: invert(1); 
}

.dark-mode .toggle-button {
    background-color: #434343; 
    color: white;
}

.dark-mode .toggle-button:hover {
    border: 2px solid white;
}

.dark-mode #customers th {
    background-color: #03855c; 
    color: white;
}

.dark-mode #customers tr:nth-child(even) {
    background-color: #333; 
}

.dark-mode #customers tr:hover {
    background-color: #444; 
}
